.StatsTableClass {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
    padding-top: 5%;
}
 
.StatsTable {
    border: 2px solid black;
    table-layout: auto;
    border-collapse: collapse;
}
 
.StatsHeader {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    max-width: 100px;
    min-width: 60px;
}
 
.StatsData {
    text-align: center;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.stat-tr-group{
    background-color :#E9EBF5 ;
  }

.stat-tr-group:nth-of-type(even){
    background-color: #CFD5EA;
}