.StatsTableClass {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
}
 
.StatsTable {
    border: 2px solid forestgreen;
    table-layout: auto;
    background-color: orange;
    padding-top: 1%;
    border-collapse: collapse;
}
 
.StatsHeader {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background-color: skyblue;
    max-width: 100px;
    min-width: 60px;
}
 
.StatsData {
    text-align: center;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.rt-tr-group{
    background-color :red;
  }

.rt-tr-group:nth-of-type(even){
    background-color: darkcyan;
}