:root {
  --bg: #4472C4;
  --border: black;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
}

button {
  cursor: pointer;
}

.navbar {
  align-items: left;
  justify-content: left;
  top: 0;
}

.navbar header {
  border-bottom: 1px solid var(--border);
}

.background {
  background: var(--bg);
  background-blend-mode: darken;
  background-size: cover;
}

.nav-list {
  width: 70%;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomRight {
  padding-left: 1%;
}

.bottomLogo img{
  max-width: 60px;
  max-height: 60px;
  border-radius: 50px;
  background-color: var(--bg);
}

.logo img {
  width: 180px;
  border-radius: 50px;
}

.nav-list li {
  list-style: none;
  padding: 25px 15px; /*Y X*/
}

.nav-list li a {
  text-decoration: none;
  color: #000;
}

.firstHalf {
  flex: 1;
  height: 100%;
  background-color: var(--bg);
  border-right: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.secondHalf {
  flex: 4;
  height: 80%;
  background-color: var(--bg);
}

.text-big { 
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  width: 100%;
}

.team {
  flex:1;
}

.stats {
  flex:3;
}

.text-small {
  font-size: 16px;
}

.body {
  height: 100%;
}

.stats-container {
  display: flex;
  flex: 1;
}

.container {
  display: flex;
  height: 80%;
  flex: 1;
  background-color: var(--bg);
}

.previous {
  display: flex;
  flex: 1;
  padding-top: 135.5%;
  justify-content: center;
  background-color: var(--bg);
}

.info {
  display: flex;
  padding-top: 5%;
  background-color: var(--bg);
}

.year {
  flex:1;
  padding-left: 2%;
  background-color: var(--bg);
}

.version {
  margin-left: auto;
  padding-right: 8%;
  background-color: var(--bg);
}

.standings {
  display: flex;
  flex: 1;
  padding-top: 22.10%;
  background-color: var(--bg);
}

.division {
  display: flex;
  flex: 1;
  justify-content: center;
  background-color: var(--bg);
}

.division-border {
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.division-border-right {
  border-right: 1px solid var(--border);
}