.modalPlayGame {
    position: fixed;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background: #8FAADC;
    z-index: 1;
    display: flex;
    flex-direction: column; /* Stack top bar and content vertically */
}

.topRow {
    display: flex;
    justify-content: space-between; /* Center title and push close button to the right */
    align-items: center;
  }

.xButtonPlayGame {
    background-color: #4472C4;
    border: solid 1px #172C51;
    margin: 10px 10px;
    width: 100px;
    height : 50px;
    color: white;
    align-self: flex-end;
    margin-left: auto;
    margin-right: 10px;
}

.submitRow {
    display: flex;
    justify-content: space-between; /* Center title and push close button to the right */
    align-items: center;
  }

.submitButton {
    background-color: #4472C4;
    border: solid 1px #172C51;
    margin: 10px 10px;
    width: 100px;
    height : 50px;
    color: white;
    align-self: flex-end;
    margin-left: auto;
    margin-right: 10px;
}